/* <!-- ====================================================================== --> */
            /* This part makes the HTML and BODY fit the whole screen */
/* <!-- ====================================================================== --> */
html, body {
    height: 100%;
}
/* <!-- ====================================================================== --> */
            /* This container covers EVERYTHING in a flex box style */
/* <!-- ====================================================================== --> */
.body-container {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* <!-- ====================================================================== --> */
            /* This section covers the HEADER and all its content */
/* <!-- ====================================================================== --> */
header {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}


.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-item {
    padding: 10px;
}

header a {
    text-decoration: none;
    color: black;
}

.header-sign-in {
    background-color: #4885ed;
    color: #fff;
    border:none;
    border-radius:3px;
    padding:7px 10px;
    font-weight:bold;
}
/* <!-- ====================================================================== --> */
    /* This section covers the LOGO and FORM == i.e middle of the page == */
/* <!-- ====================================================================== --> */
.form-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-self: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    align-self: center;
    padding: 25px;
}

.searchbar {
    display: flex;
    height:45px;
    width:500px;
    font-size:16px;
    border-radius: 25px;
  }

  .search-buttons {
      display: flex;
    align-self: center;
  }

/* <!-- ====================================================================== --> */
            /* this section covers the FOOTER and all its content */
/* <!-- ====================================================================== --> */
footer {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-item {
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: black;
}