header {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header a {
    text-decoration: none;
}

.body-container {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.logo {
    display: flex;
    align-self: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    align-self: center;
}

